
#content {
width: 1600px;
margin: 0 auto;
}

#background {
    height: 725px;
}
body {
    background-color: #fcfbfb; 
}
header {
    background-color:rgba(20,30,13, .7);
}
nav a:hover {
    background-color: black;
}
.book, .join {

    background-color:rgba(20,30,13, .7); 
}
.book:hover, .join:hover{

    background-color:rgba(20,30,13, .7);
}
#background{

    background-color:rgba(20,30,13, .7);
}
.msg{

    background-color:rgba(20,30,13, .7);
}
footer{

    background-color:rgba(20,30,13, .7);
}
nav a{
    background-color: black;
    color: #d9c2a3  
}
nav a:hover{
    background-color: black;
    color: #d9c2a3
}
.home-title{
    background-color: black;
    color: #d9c2a3
}
h4{
    background-color: black;
    color: #d9c2a3
}
.book, .join{
    background-color: black;
    color: #d9c2a3
}
.book:hover, .join:hover{
    background-color: black;
    color: #d9c2a3
}
.msg h2{
    background-color: black;
    color: #d9c2a3
}  
.msg p{
    background-color: black;
    color: #d9c2a3
}
footer{
    background-color: black;
    color: #d9c2a3
}
footer a{
    background-color: black;
    color: #d9c2a3
}
footer a:hover{
    background-color: black;
    color: #d9c2a3
}